.weTalkLeft {
  height: 530px;
  width: 200px;
  background: #ffffff;
  border-left: 1px solid #f4f4f4;
}

.tab {
  height: 462px;
  width: 100%;
}
#nav {
  border-bottom: 2px solid #f4f4f4;
}
#nav ul {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f4f4f4;

  user-select: none;
}

#nav ul li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  height: 44px;
}

#nav ul li div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#nav ul li img {
  width: 26px;
}

#act {
  color: #944eea;
}

#friend {
  width: 100%;
  height: 462px;
  overflow-y: auto;
}

#friend ul li {
  width: 100%;
  padding: 0 10px;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #666666;
  cursor: pointer;
  position: relative;
}

#friend ul li:hover {
  background: #ede7ff;
}

#friend::-webkit-scrollbar {
  width: 8px;
}

#friend::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

#friend::-webkit-scrollbar-thumb {
  background-color: rgba(221, 221, 221, 1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

#friend::-webkit-scrollbar {
  width: 8px;
}

.fridenTitle {
  width: 180px;
  height: 30px;
  margin-top: 10px;
  border-bottom: 1px solid #dddddd;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #999999;
  margin-left: 10px;
}

.weTalkItemDeAvatar {
  width: 30px;
  height: 30px;
  background: #944eea;
  border-radius: 15px;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: #ffffff;
}

.weTalkUserAvatar {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.weTalkChatItemAvatar {
  position: relative;
  margin-right: 5px;
}

.weTalkBoy {
  position: absolute;
  bottom: 0;
}

.weTalkFirendRight {
  display: none;
  position: absolute;
  top: 16px;
  left: 65px;
  z-index: 1000;
}

.weTalkFirendRight p {
  width: 130px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #666666;
  background: #ffffff;
  text-align: center;
  border-bottom: 1px solid #dddddd;
}

.weTalkFirendRight p:nth-child(4) {
  border: none;
}

.weTalkFirendRight p:hover {
  border: none;
  background: #ede7ff;
  color: #944eea;
}

.GroupChat {
  width: 100%;
  overflow-y: auto;
  height: 462px;
}

.GroupChat::-webkit-scrollbar {
  width: 8px;
}

.GroupChat::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

.GroupChat::-webkit-scrollbar-thumb {
  background-color: rgba(221, 221, 221, 1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

.GroupChat::-webkit-scrollbar {
  width: 8px;
}

.GroupChatTiltle {
  margin: 0 auto;
  width: 180px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.GroupChatTiltle div {
  display: flex;
}

#collect {
  margin-right: 17px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #999999;
  cursor: pointer;
  color: #944eea;
  border-bottom: 4px solid #944eea;
}

#recommend {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #999999;
  cursor: pointer;
}

#discover {
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #944eea;
  cursor: pointer;
}

#collectlist {
  width: 100%;
}

#collectlist li {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #666666;
  cursor: pointer;
  position: relative;
  /* overflow: hidden; */
  white-space: nowrap;
}

#collectlist li:hover {
  background: #e5ddff;
}

#collectlist li img {
  margin-right: 5px;
}

.activity {
  width: 200px;
  height: 462px;
  padding: 0 20px;
}

.activity ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.activity ul li {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  cursor: pointer;
}

.activity ul li p {
  margin-top: 10px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #999999;
}

.activityOne:hover .oneText {
  color: #944eea;
}

.activityOne:hover .choujiang {
  background: #ffffff;
  box-shadow: 0px 4px 7px 0px rgba(238, 238, 238, 0.72);
}

.activityTwo:hover .twoText {
  color: #944eea;
}

.activityTwo:hover .piaoliuping {
  background: #ffffff;
  box-shadow: 0px 4px 7px 0px rgba(238, 238, 238, 0.72);
}

.activityThree:hover .threeText {
  color: #944eea;
}

.activityThree:hover .jingcai {
  background: #ffffff;
  box-shadow: 0px 4px 7px 0px rgba(238, 238, 238, 0.72);
}

/* .activityFour {
  height: 100px;
  padding-top: 10px;
  justify-content: space-between;
} */

.activityFour:hover .fourText {
  color: #944eea;
}

.activityFour:hover .duihuan {
  background: #ffffff;
  box-shadow: 0px 4px 7px 0px rgba(238, 238, 238, 0.72);
}

#empty {
  height: 462px;
  width: 198px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#empty p {
  margin-top: 15px;
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 300;
  color: #999999;
}
#collectempty {
  height: 427px;
  width: 198px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#collectempty p {
  margin-top: 15px;
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 300;
  color: #999999;
}

.amendName {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 404px;
  /* height: 154px; */
  background: #ffffff;
  box-shadow: 0px 8px 35px 0px #cccccc;
  border-radius: 4px;
  padding: 20px;
  z-index: 10000000;
}
.amendTitle {
  width: 100%;
  line-height: 26px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #333333;
  border-bottom: 2px solid #f5f5f5;
  height: 45px;
}
.amendName input {
  margin-top: 20px;
  width: 364px;
  height: 36px;
  background: #f5f5f5;
  border-radius: 4px;
  border: none;
  outline-style: none;
  padding: 0 15px;
}
.amendNameCancel {
  width: 80px;
  height: 34px;
  background: #ede7ff;
  border-radius: 17px;
  border: none;
  outline-style: none;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #8e4ae0;
  margin-top: 37px;
  margin-left: 99px;
  margin-right: 20px;
}
.amendNameSub {
  width: 80px;
  height: 34px;
  background: #8e4be0;
  border-radius: 17px;
  border: none;
  outline-style: none;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #ffffff;
  margin-top: 37px;
}

.weTalkChatroomRight {
  display: none;
  position: absolute;
  top: 16px;
  left: 65px;
  z-index: 1000;
}

.weTalkChatroomRight p {
  width: 130px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #666666;
  background: #ffffff;
  text-align: center;
  border-bottom: 1px solid #dddddd;
}

.weTalkChatroomRight p:nth-child(2) {
  border: none;
}

.weTalkChatroomRight p:hover {
  border: none;
  background: #ede7ff;
  color: #944eea;
}
.searchChatroom {
  height: 530px;
  width: 750px;
  display: none;
  padding: 0 75px;
  border: 1px solid #f4f4f4;
}

.searchChatroomTitle {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #333333;
  margin-bottom: 27px;
}

.searchChatroomSearch {
  padding: 0 20px;
  width: 100%;
  display: flex;
  height: 40px;
  background: #f5f5f5;
  align-items: center;
  margin-bottom: 10px;
}

.searchChatroomSearch p {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #333333;
}

.searchChatroomSearch input {
  height: 100%;
  border: none;
  outline-style: none;
  background: #f5f5f5;
  width: 480px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #999999;
}

#searchChatroomInput::-ms-input-placeholder {
  text-align: center;
}

#searchChatroomInput::-webkit-input-placeholder {
  text-align: center;
}

.searchChatroomText {
  margin-top: 40px;

  font-size: 20px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #333333;
}

.recommend {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.lifeRecommend {
  width: 295px;
  height: 130px;
  background: #ffc259;
  display: flex;
}

.lifeRecommendIcon {
  margin-right: 23px;
}

.lifeRecommendIcon img {
  margin-top: 6px;
  margin-left: 7px;
  margin-bottom: 11px;
}

.lifeRecommendIcon p {
  margin-left: 21px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #ff5a00;
}

.playRecommend {
  width: 295px;
  height: 130px;
  background: #ff7c59;
  display: flex;
}

.playRecommendIcon {
  margin-right: 23px;
}

.playRecommendIcon img {
  margin-top: 6px;
  margin-left: 7px;
  margin-bottom: 11px;
}

.playRecommendIcon p {
  margin-left: 21px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #fff559;
}

.musicRecommend {
  width: 295px;
  height: 130px;
  background: #9759ff;
  display: flex;
}

.musicRecommendIcon {
  margin-right: 23px;
}

.musicRecommendIcon img {
  margin-top: 6px;
  margin-left: 7px;
  margin-bottom: 11px;
}

.musicRecommendIcon p {
  margin-left: 21px;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: #ffc259;
}

.newsRecommend {
  width: 295px;
  height: 130px;
  background: #59afff;
  display: flex;
}

.newsRecommendIcon {
  margin-right: 21px;
}

.newsRecommendIcon img {
  margin-top: 6px;
  margin-left: 7px;
  margin-bottom: 11px;
}

.newsRecommendIcon p {
  margin-left: 21px;
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: #fff559;
}

.searchChatroomResult {
  display: none;
  margin-top: 20px;
}

.searchChatroomResultTitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.searchChatroomResultText {
  font-size: 20px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #333333;
}

#searchChatroomResultNone {
  display: none;
  margin-top: 10px;
  width: 100%;
  height: 290px;
  background: #f5f5f5;
}
.searchChatroomResultImg {
  padding-top: 106px;
}
#searchChatroomResultNone p {
  text-align: center;
  width: 100%;
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 300;
  color: #999999;
}
#searchChatroomResultDetils {
  display: none;
  margin-top: 10px;
  width: 100%;
  height: 290px;
  background: #f5f5f5;
}
.dailyUpdate {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dailyUpdate img {
  margin-top: 23px;
}
.dailyUpdateTitle {
  margin: 10px 0;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #333333;
}
.dailyUpdateOnline {
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #999999;
}
.dailyUpdate button {
  width: 100px;
  height: 34px;
  background: #8e4be0;
  border-radius: 17px;
  border: none;
  outline-style: none;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 20px;
}
.dailyUpdate div {
  width: 180px;
  background: #f5f5f5;
  border-radius: 4px;
  padding: 20px 13px;
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #999999;
  line-height: 24px;
}

#recommendWeb {
  width: 100%;
  text-align: center;
}
#recommendWeb p {
  display: inline-block;
}
#recommendWeb p span {
  cursor: pointer;
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #999999;
  margin-right: 10px;
}

#lifeRecommendDetails li {
  width: 170px;
  height: 36px;
  background: #ffce7a;
  border-radius: 18px;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: #ffffff;
  padding: 0 20px;
}
#lifeRecommendDetails li:nth-child(1) {
  margin-top: 10px;
}
#lifeRecommendDetails li img {
  cursor: pointer;
}
#playRecommendDetails li {
  width: 170px;
  height: 36px;
  background: #ff967a;
  border-radius: 18px;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: #ffffff;
  padding: 0 20px;
}
#playRecommendDetails li:nth-child(1) {
  margin-top: 10px;
}
#playRecommendDetails li img {
  cursor: pointer;
}
#musicRecommendDetails li {
  width: 170px;
  height: 36px;
  background: #ac7aff;
  border-radius: 18px;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: #ffffff;
  padding: 0 20px;
}
#musicRecommendDetails li:nth-child(1) {
  margin-top: 10px;
}
#musicRecommendDetails li img {
  cursor: pointer;
}
#newsRecommendDetails li {
  width: 170px;
  height: 36px;
  background: #7abfff;
  border-radius: 18px;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: #ffffff;
  padding: 0 20px;
}
#newsRecommendDetails li:nth-child(1) {
  margin-top: 10px;
}
#newsRecommendDetails li img {
  cursor: pointer;
}

#searchChatroomFind {
  cursor: pointer;
}
#searchChatroomResultDetils {
  padding: 20px 17px;
}
#searchChatroomResultDetils li {
  width: 566px;
  height: 52px;
  background: #ffffff;
  padding: 0 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#searchChatroomResultDetils li p {
  font-size: 14px;
  color: #333;
  font-family: Source Han Sans CN;
  font-weight: bold;
}
#searchChatroomResultDetils li p span {
  font-size: 12px;
  color: #999999;
  font-family: Source Han Sans CN;
  font-weight: bold;
}
#searchChatroomResultDetils li button {
  width: 80px;
  height: 34px;
  background: #ffffff;
  border: 1px solid #8e4be0;
  border-radius: 17px;

  outline-style: none;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #8e4be0;
  border: 1px solid #8e4be0;
}
#searchChatroomResultDetils li button:hover {
  background: #8e4be0;
  color: #ffffff;
}

/* 个人信息*/
.weTalkUserSet > div:hover {
  background: #eadcfb;
}

.helpOption {
  width: 120px;
  height: 34px;
  color: #944eea;
  padding: 0 10px;
  position: relative;
}
.helpOption span {
  margin-left: 23px;
  margin-right: 40px;
}
.helpOptionTab {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #944eea;
}
.helpOption div {
  position: absolute;
  display: none;
  width: 120px;
  height: 117px;
  background: #ffffff;
  box-shadow: 0px 3px 8px 0px #dddddd;
  border-radius: 4px 0px 0px 0px;
  padding: 8px 0;
  left: -120px;
  top: 0;
}

.helpOption div p {
  width: 120px;
  height: 34px;
  background: #ffffff;
  text-align: center;
  line-height: 34px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #944eea;
}
.helpOption div p:hover {
  background: #eadcfb;
}

/* 功能设置 */
.setTheme {
  width: 670px;
  height: 440px;
  background: #ffffff;
  margin: 0 auto;
  border: 1px solid #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  display: none;
  user-select: none;
}
#closeSetTheme {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.setTheme > p {
  width: 630px;
  margin-left: 20px;
  border-bottom: 2px solid #f5f5f5;
  padding-top: 22px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #333333;
  line-height: 36px;
}

.setTheme > div {
  padding-left: 40px;
  padding-top: 20px;
}

.setThemeTitle {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #333333;
}

.allRadio div {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.allRadio label {
  margin-right: 20px;
  text-align: center;
}

.allRadio p {
  width: 50px;
  height: 50px;
}

.oneRadio {
  background: #f5f5f5;
}

.twoRadio {
  background: #d8e1a3;
}

.threeRadio {
  background: #e1b5a3;
}

.fourRadio {
  background: #a3c3e1;
}

.fiveRadio {
  background: #b2a3e1;
}

.sixRadio {
  background: #282828;
}

.sevenRadio {
  background: url(../images/raido7.png);
}

.eightRadio {
  background: url(../images/raido8.png);
}

.nineRadio {
  background: url(../images/raido9.png);
}

.tenRadio {
  background: url(../images/radio10.png);
}

.elevenRadio {
  background: url(../images/radio11.png);
}

.setPromptTone {
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #666666;
}

.setPromptTone input {
  margin-right: 10px;
}

/* 漂流瓶 */
#driftBottleIndex {
  /* margin: 80px auto; */
  display: none;
  width: 750px;
  height: 530px;
  background: url(../images/driftbottle/bg.png);
  position: relative;
}

.driftBottleIndexMasking {
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.5;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: 15;
  display: none;
}
.bottlePreviewTier {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  display: none;
}
.bottlePreviewTierPic {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  height: 442px;
  /* background: pink; */
  margin-top: 44px;
  align-items: center;
}
.bottlePreviewTierFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}
#closeBottlePreviewTier {
  cursor: pointer;
}
#driftBottleAllBtn {
  position: absolute;
  right: 32px;
  top: 31px;
  z-index: 10;
}
#driftBottleAllBtn p {
  position: relative;
}
#pickNum {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #f15334;
  border-radius: 50%;
  right: -5px;
  top: 15px;
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #ffffff;
  line-height: 20px;
  text-align: center;
}
#throwNum {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #f15334;
  border-radius: 50%;
  right: -5px;
  top: 15px;
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #ffffff;
  line-height: 20px;
  text-align: center;
}
#fishForBottle {
  margin: 6px 0;
}

.driftBottleFooter {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
}

#driftBottleBottle {
  display: none;
  position: absolute;
  left: 121px;
  bottom: 0;
  cursor: pointer;
}

#oneCloud {
  position: absolute;
  top: 74px;
  left: 29px;
}

#twoCloud {
  position: absolute;
  right: 0;
  top: 150px;
}

#driftBottleAllBtn p {
  cursor: pointer;
}
#driftBottleIndexIcon {
  margin-top: 10px;
  cursor: pointer;
}

/* 漂流瓶简介 */
#driftBottleIntro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  padding: 0 20px;
  width: 300px;
  height: 420px;
  background: #eae6dd;
  border-radius: 4px;
  z-index: 100;
}

#driftBottleIntro > p {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #a0711b;
}

#driftBottleIntro div {
  width: 100%;
  padding: 12px 0;
  border-top: 2px solid #a0711b;
}

#driftBottleIntro div p {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 300;
  color: #a0711b;
  line-height: 24px;
}

#driftBottleIntro div :nth-child(2) {
  margin: 10px 0;
}
#driftBottleIntro span {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 5px;

  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #ffffff;
}
#driftBottleIntroBtn {
  border: none;
  outline-style: none;
  width: 120px;
  height: 40px;
  background: #a0711b;
  border-radius: 20px;
}

/* 我的瓶子 */
#myDriftBottle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 15;
  width: 600px;
  height: 480px;
  background: #eae6dd;
  border-radius: 8px;
  padding: 0 20px;
}

#myDriftBottle > p {
  padding-top: 30px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #a0711b;
  cursor: pointer;
}
#myBottleOption {
  background: #a0711b;
  color: #fff;
}
.myDriftBottleOut {
  display: flex;
  width: 100%;
  border-top: 2px solid #a0711b;
  /* height: 325px; */
}

.myDriftBottleTab p {
  width: 100px;
  height: 40px;
  background: #d0c3ab;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #a0711b;
  cursor: pointer;
}

#myDriftBottle > span {
  text-align: right;
  display: inline-block;
  width: 460px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

#myBottle {
  width: 460px;
  height: 70px;
  background: #e1dbd1;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
}
.myBottleNull {
  width: 460px;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #a0711b;
}

.myBottleLeft {
  height: 40px;
  width: 60px;
  border-right: 1px solid #bbb3a4;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 10px; */
}
.myBottleLeft img{
  height: 30px;
}
.myBottleLeft p {
  width: 40px;
  height: 40px;
  background: #d1cabb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myBottleRight {
  width: 380px;
  padding: 10px 16px;
  position: relative;
}

.myBottleNum{
  display: flex;
  position: absolute;
  z-index: 16;
  top:8px;
  right: 0;
  
}
.myBottleNum p{
  display: flex;
  align-items: center;
  color:  #C0A676;
  display: none;
}
.myBottleNum p img{
  margin-right: 5px;
}
#myBottleLike{
  margin-right: 5px;
}
.myBottleBtn{
  position: absolute;
  z-index: 20;
  top:8px;
  right: 0;
  display: none;
}
.myBottleTab {
  display: inline-block;
  cursor: pointer;
  color: white;
  width: 60px;
  height: 28px;
  background: #A0711B;
  text-align: center;
  line-height: 28px;
}
#myBottleOpen {
  margin-right: 10px;
}
.myBottleRightCenter {
  width: 100%;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #a0711b;
  overflow: hidden; /*内容超出后隐藏*/
  text-overflow: ellipsis; /* 超出内容显示为省略号*/
  white-space: nowrap; /*文本不进行换行*/
}

#myFootprint {
  width: 460px;
  height: 70px;
  background: #e1dbd1;
  margin-bottom: 1px;
  /* padding: 16px 8px; */
  display: flex;
  align-items: center;
  position: relative;
}

#myFootprintOpen {
  cursor: pointer;
  color: white;
  background: #a0711b;
  display: inline-block;
  text-align: center;
  line-height: 28px;
  width: 60px;
  height: 28px;
  margin-right: 10px;
}
#myFootprintRemove {
  cursor: pointer;
  color: white;
  background: #a0711b;
  display: inline-block;
  text-align: center;
  line-height: 28px;
  width: 70px;
  height: 28px;
  margin-right: 10px;
}
/* 扔个瓶子 */
#throwDriftBottle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 101;
  width: 600px;
  height: 460px;
  background: #eae6dd;
  border-radius: 8px;
  padding: 0 20px;
}

#throwDriftBottle > p {
  padding-top: 30px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #a0711b;
}

#throwDriftBottle > div {
  border-top: 2px solid #a0711b;
}

.throwDriftBottleAllBtn {
  display: flex;
  margin: 10px 0;
  padding: 0 10px;
}
#friendBottle {
  color: #fff;
  background: #e5b155;
}
.throwDriftBottleAllBtn p {
  margin-right: 30px;
  display: flex;
  align-items: flex-end;
}
.throwDriftBottleAllBtn p button {
  width: 80px;
  height: 34px;
  background: #dbd4c6;
  cursor: pointer;
  border: none;
  outline-style: none;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #a0711b;
}
#throwDriftBottleIpt {
  width: 560px;
  height: 120px;
  background: #e1dbd1;
  border-radius: 4px;
  outline-style: none;
  padding: 20px;
  overflow-y: auto;
}

[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-text);
  color: #bcae9b;
}

.throwDriftBottleUplodeDiv {
  margin-top: 10px;
  display: flex;
}
.throwDriftBottleUplode {
  width: 84px;
  height: 80px;
  background: #e1dbd1;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#bottleLocalityPic {
  display: flex;
  align-items: center;
}
.BottleLocalityPic {
  max-width: 150px;
  max-height: 80px;
}
#showBottleLocalityPic {
  margin-right: 10px;
  position: relative;
}

#throwBottleMasking {
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}
#removeBottleLocalityPic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  cursor: pointer;
  display: none;
}
.throwDriftBottleText {
  margin-top: 10px;
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #bcae9b;
  margin-bottom: 20px;
}

#throwDriftBottle > span {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#throwDriftBottleBtn {
  width: 120px;
  height: 40px;
  background: #a0711b;
  border-radius: 20px;
  border: none;
  outline-style: none;
  color: #ffffff;
}

/* 瓶子详情 */
#driftBottleDetails {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 15;
  width: 600px;
  height: 480px;
  background: #eae6dd;
  border-radius: 8px;
  padding: 0 20px;
  overflow-y: auto;
}
#driftBottleDetails::-webkit-scrollbar {
  width: 8px;
}
#driftBottleDetails::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
#driftBottleDetails::-webkit-scrollbar-thumb {
  background-color: rgba(221, 221, 221, 1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
#driftBottleDetailsHot {
  cursor: pointer;
  color: #a0711b;
}
#driftBottleDetailsNew {
  cursor: pointer;
  color: #c0a676;
}
.driftBottleDetailsTop {
  display: flex;
  padding-top: 30px;
  margin-bottom: 10px;
}

.driftBottleDetailsTop > p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #d1cabb;
  border-radius: 50%;
  margin-right: 10px;
}

#driftBottleDetailsType {
  width: 50px;
  height: 20px;
  background: #7854e8;
  text-align: center;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 10px;
}

.topRightFooter {
  display: flex;
  justify-content: space-between;
  width: 470px;
}

.topRightFooterLeft {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #a0711b;
}

.detailtopTime {
  margin-right: 20px;
}

#driftBottleDetailsMap {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #529eeb;
  cursor: pointer;
}

.driftBottleContent {
  width: 100%;
  /* min-height: 231px; */
  border-top: 2px solid #a0711b;
  border-bottom: 2px solid #a0711b;
  padding: 20px 0;
}

.driftBottleContentText {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #a0711b;
  width: 560px;
}

.driftBottleContentPic {
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  /* display: none; */
}
.driftBottleContentPic img {
  max-width: 150px;
  max-height: 80px;
  margin-right: 20px;
}
.driftBottleContentFooter {
  display: flex;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #a0711b;
}

.driftBottleContentPraise {
  display: flex;
  align-items: center;
  margin-right: 28px;
}

.driftBottleContentPraise img {
  margin-right: 10px;
  cursor: pointer;
}
#bottleAlreadyLike {
  display: none;
}
.driftBottleDetailsBottom {
  padding: 20px;
}

.driftBottleComment {
  width: 520px;
  height: 65px;
  background: #e1dbd1;
  border-radius: 4px;
  padding: 20px 24px;
  margin-bottom: 10px;
  overflow-y: auto;
}
.driftBottleComment::-webkit-scrollbar {
  width: 8px;
}
.driftBottleComment::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
.driftBottleComment::-webkit-scrollbar-thumb {
  background-color: rgba(221, 221, 221, 1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
.driftBottleCommentTab {
  text-align: right;
  margin-bottom: 20px;
}

#driftBottleCommentStay {
  width: 80px;
  height: 30px;
  background: #a0711b;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  outline-style: none;
  color: #ffffff;
}

#driftBottleCommentThrow {
  width: 80px;
  height: 30px;
  background: #d0c3ab;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  outline-style: none;
  color: #a0711b;
  margin-right: 10px;
}

.driftBottleDetailsBottomTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.driftBottleDetailsTrack {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #a0711b;
}

.driftBottleDetailsCut {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #a0711b;
}

.driftBottleDetailsLine {
  display: inline-block;
  width: 1px;
  height: 15px;
  background: #a0711b;
  margin: 0 10px;
}

.driftBottleDetailsComment {
  margin-bottom: 20px;
}

.criticPersonalinFormation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#criticHeadPortrait {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #944eea;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: #ffffff;
}
.commentDetilsheadPortrait {
  width: 40px;
  height: 40px;
  background: #944eea;
  border-radius: 50%;
}

#criticName {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #a0711b;
  margin: 0 10px;
}

#criticAdd {
  font-size: 12px;
  font-family: Microsoft YaHei;
  color: #a0711b;
}

#criticTime {
  margin-right: 20px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #c0a676;
}

#endorseNum {
  display: inline-block;
  color: #ffffff;
  width: 40px;
  height: 20px;
  background: #a0711b;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.commentContent {
  width: 520px;
  height: 60px;
  background: #e1dbd1;
  border-radius: 4px;
  padding: 20px 24px;
  color: #a0711b;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#driftBottleDetailsvViewMore {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #a0711b;
  cursor: pointer;
}
#bottleMapOut {
  z-index: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#bottleMap {
  width: 560px;
  height: 440px;
  border-radius: 4px;
}
#bottleMapOut p {
  width: 100%;
  text-align: center;
}
#closeBottleMap {
  cursor: pointer;
}
/* 右上角按钮 */
#closeDriftBottleDetails,
#closeMyDriftBottle,
#closeThrowDriftBottle {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
